.home {
    display: block;
    height: 100%;
    width: 100%;
}

.home-release-section,
.home-release-list {
    padding: 0 10px;
}

.home-release-list {
    margin: 10px 0;
}

@media (min-width: 900px) {
    .home-release-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 10px;
        flex-grow: 1;

    }

    .home-release-section,
    .home-release-list {
        padding: unset;
        width: 90vw;
        margin: auto;
    }
}

@media (min-width: 1200px) {

    .home-release-section,
    .home-release-list {
        padding: unset;
        width: 80vw;
        margin: auto;
    }
}