.top-banner {
    position: relative;
    height: 26vh;
    background-image: url('../../assets/kids-top-bar.jpg');
    background-size: cover;
}

.top-banner-title {
    font-size: 5vw;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 20px;
}


@media (min-width: 769px) {
    .top-banner {
        height: 75vh;
        background-size: cover;
        background-position: center center;
    }
}

@media (min-width: 1200px) {
    .top-banner {
        height: 100vh;
    }
}