.app {
  background: linear-gradient(#AEFF96, #86BEFF);
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .app-container {
    margin: auto;
  }
}